{% extends './index/parent_template.html' %}
{% block title %}Articles.{% endblock %}
{% block content %}


<div>
{% for articles_html in articles_list %}
<div class="card m-5">
  <div class="card-body">
    <p class="card-text">{{ articles_html.article_body | safe }}</p>
  </div>
</div>

</div>

{% endfor %}
</div>






<div>
        {% if page > 1 %}
            <a href="/photos_show/photos?page={{ page - 1 }}">上一页</a>
        {% endif %}

        {% if page < total_pages %}
            <a href="/photos_show/photos?page={{ page + 1 }}">下一页</a>
        {% endif %}
</div>

{% endblock %}