{% extends './index/parent_template.html' %}
{% block title %}Codes.{% endblock %}


{% block content %}

<div class="list-group m-lg-5">
{#  <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>#}
  <a href="https://github.com/JY-Xie/myBlog" class="list-group-item list-group-item-action list-group-item-primary">This Blog.</a>
  <a href="https://github.com/JY-Xie/Address_Book_Management" class="list-group-item list-group-item-action list-group-item-secondary">An Addressbook.</a>
{#  <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>#}
{#  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>#}
{#  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>#}
{#  <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>#}
{#  <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>#}
{#  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>#}
</div>



{% endblock %}