{% extends './index/parent_template.html' %}
{% block title %}Photos.{% endblock %}
{% block content %}

<br>
<h1>
<div style="text-align: center;">管理我的图片</div>
</h1>

<div>
<form method="post" action="{{ url_for('auth_manage.update_photo') }}" enctype="multipart/form-data">
<div class="mb-3 my-3">
  <label for="formFile" class="form-label">提交新图文</label>
  <input class="form-control" type="file" id="formFile" name="image">

<div class="form-floating my-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="photo_location"></textarea>
  <label for="floatingTextarea">Location</label>
</div>


<div class="form-floating my-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="photo_sentence"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>


  <button class="btn btn-primary" type="submit">提交</button>
</div>
</form>
</div>

<div>
{% for photos_url in photos_list %}


<div class="card mb-3">
<img src="{{ url_for('static', filename=photos_url.photo_path) }}" class="card-img-top" alt="Img">
<div class="card-body">
<h4 class="card-title">{{ photos_url.photo_location }}</h4>
<p class="card-text">{{ photos_url.photo_sentence }}</p>
<p class="card-text"><small class="text-muted">{{ photos_url.photo_time }}</small></p>

<form action="{{ url_for('auth_manage.delete_photo', id=photos_url.id) }}" method="post">
    <p>Pic id is {{ photos_url.id }}.</p>
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>

</div>
</div>

{% endfor %}
</div>


<div>
        {% if page > 1 %}
            <a href="/auth_manage/?page={{ page - 1 }}">上一页</a>
        {% endif %}

        {% if page < total_pages %}
            <a href="/auth_manage/?page={{ page + 1 }}">下一页</a>
        {% endif %}
</div>

{% endblock %}