{% extends './index/parent_template.html' %}
{% block title %}Abstract.{% endblock %}
{% block content %}

<h2 style="text-align: center;">
上传新文章
</h2>
<div>
    <form method="post" action="{{ url_for('auth_manage.create_article') }}" enctype="multipart/form-data">
    <div class="mb-3 my-3">
      <label for="formFile" class="form-label">输入原生HTML代码，问什么不用MarkDown，问就是懒！</label>


        <div class="form-floating my-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="article_title"></textarea>
          <label for="floatingTextarea">文章标题</label>
        </div>

        <div class="form-floating my-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="article_description"></textarea>
          <label for="floatingTextarea">文章简介</label>
        </div>

        <div class="form-floating my-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 500px" name="article_content"></textarea>
            <label for="floatingTextarea2">在这里输入至少100字吧...</label>
        </div>

{#        <div class="container mt-5">#}
{#            <form>#}
{#                <div class="form-group">#}
{#                    <label for="largeTextArea">大号文本输入区域：</label>#}
{#                    <textarea class="form-control" id="largeTextArea" rows="10" placeholder="在这里输入至少1000字..."></textarea>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary">提交</button>#}
{#            </form>#}
{#        </div>#}

       <button class="btn btn-outline-danger" type="submit">提交</button>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    </div>
    </form>
</div>




<div>
{% for abstract_html in abstract_list %}
<div class="card m-5">
  <div class="card-body">
    <p class="card-text">{{ abstract_html.article_head }}</p>
    <p class="card-text">{{ abstract_html.article_abstract }}</p>
{#    <a href="/articles_show/articles/{{ abstract_html.id }}">Read more</a>#}
    <a href="{{ url_for('articles_show.show_articles', article_id=abstract_html.id) }}">Read more</a>
      <form action="{{ url_for('auth_manage.delete_article', id=abstract_html.id) }}" method="post"><input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');"></form>
  </div>
</div>


{% endfor %}
</div>



<div>
        {% if page > 1 %}
            <a href="/photos_show/photos?page={{ page - 1 }}">上一页</a>
        {% endif %}

        {% if page < total_pages %}
            <a href="/photos_show/photos?page={{ page + 1 }}">下一页</a>
        {% endif %}
</div>

{% endblock %}